body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    position: relative;
    background-image: linear-gradient(to top, beige 0%, black 100%);
    background-attachment: fixed;
    gap: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    border: 10px solid rgb(252, 216, 56);
    border-radius: 12px;
    width: 349px;
    height: 500px;
    box-sizing: border-box;
    background: rgb(252, 216, 56);
    /* align-items: center;
    justify-content: center; */
}

.calculator_screen {
    background-color: rgb(173, 240, 229);
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
    border: 0;
    text-align: right;
    font-size: 45px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    width: 334px;

}



section {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 330px;
    /* padding-block: 80px; */

}

section button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    font-weight: 900;
    font-size: 20px;
    width: 80px;
    height: 80px;
}

.Clear {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background-color: red;
    color: white;

}

.Clear:hover {
    color: red;
    background-color: white;
}

.math_operators {
    display: flex;

}

.math_operators {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9px;
}

.math_operators:hover {
    background-color: aqua;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 9px;
    color: white;
    background-color: black;
    font-weight: 900;
}

.numbers:hover {
    background-color: white;
    color: black;
}



.zero {
    width: 145px;
    height: 70px;
}


.special_symbols {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9px;
}

.equal {
    display: flex;
    width: 180px;
    height: 70px;
    background-color: aqua;
}

.equal:active {
    background-color: black;
    color: aqua;
}

#footer {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    background: black;
    color: white;
    border-radius: 9px;
    padding: 9px 0px;
}

#footer p {
    margin: 0;
    padding: 0px 1rem;
}