body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    position: relative;
    background-image: linear-gradient(to top, beige 0%, black 100%);
    background-attachment: fixed;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 1rem solid rgb(252, 216, 56);
    border-radius: 12px;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    background: yellow;
    /* align-items: center;
    justify-content: center; */
}

.calculator_screen {
    background-color: rgb(173, 240, 229);
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 0;
    text-align: right;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;

}



section {
    display: flex;
    flex-wrap: wrap;
    /* padding-block: 80px; */

}

section button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    font-weight: 900;
}

.Clear {
    display: flex;

}

.Clear button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    width: 70px;
    height: 70px;

}

#delete {
    width: 140px;
}

.Clear button:hover {
    background-color: red;
    color: white;
}

.math_operators {
    display: flex;

}

.math_operators button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 9px;
}

.math_operators button:hover {
    background-color: aqua;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
  
   

}

.numbers button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70px;
    height: 70px;
    border-radius: 9px;
    color: white;
    background-color: black;
    font-weight: 900;
}

.numbers button:hover {
    background-color: white;
    color: black;
}

#special_symbols {
    display: flex;
    justify-content: center;
    align-items: end;
}

#special_symbols button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 9px;
}

#special_symbols button:hover {
    background-color: aqua;
}

#special_symbols .equal {
    display: flex;
    width: 70px;
    height: 140px;
}